/*
 * General.
 */

html {
    font-family: sans-serif;
}

/* link decorations */
a, a:link, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Clearfix (http://css-tricks.com/snippets/css/clear-fix/). */
.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

/* Fixed-width page content. */
.fixed-width {
    margin: 0 auto;
    width: 800px;
}



/*
 * Page header.
 */

.page-header-background {
    background-color: #c9bba3;
}

.page-header {
    height: 80px;              /* so that .center-vertically works */
}

.page-header .logo {
    font-family: monospace;
    font-size: 400%;
    font-weight: 800;
    letter-spacing: 6px;
}

.page-header .version {
    float: right;
    font-size: 85%;
}

.center-vertically {
    height: inherit;

    display: box;
    box-align: center;

    display: -webkit-box;
    -webkit-box-align: center;
}



/*
 * Page body.
 */

.page-body {
    margin-top: 60px;
    margin-bottom: 60px;
}



/*
 * Page footer.
 */

.page-footer-background {
    background-color: #ededed;
}

.page-footer {
    color: #6a6a6a;
    font-size: 80%;
    padding-bottom: 20px;
}

.page-footer .nav {
    float: left;
    line-height: 1.5;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 150px;
}

.page-footer h1 {
    font-weight: 800;
    margin-bottom: 6px;
}

.copyright {
    clear: both;
}
